<link rel="stylesheet" href="src/css/lesson.css">

<style>
    .CauHoi li {
        font-weight: normal;
    }

    .btnCtrl:active {
        transition: all ease-in 0.1s;
        transform: scale(0.9);
    }

    .daChon {
        background-color: #dadada;
    }
</style>
<!-- Nội dung -->
<main class="container">
    <section ng-show="!daNopBai" id="noiDungCauHoi" class="row justify-content-between " style="margin: 120px 0;">

        <section class="col-9">
            <!-- Tiêu đề -->
            <h4 class="fw-bold mb-3" style="color: #1e54a4;"> Quiz {{subject.Name}}</h4>

            <div class="card text-start w-100" style="box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);">
                <div class="card-header">
                    <span class="fs-5 fw-bold">Câu {{start+1}} /</span> <span>{{dsCauHoi.length}}</span>


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Nộp bài
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận nộp bài</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-success fw-bold">Đã làm: {{cauDaChon()}} </p>
                                    <p class="text-danger fw-bold">Chưa làm: {{radioStates.length - cauDaChon()}} </p>
                                   
                                    <p>Bạn còn: {{timeToStop | formatTime}}</p>
                                    <i>Hãy cân nhắc kỹ trước khi nộp bài</i>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Đóng</button>
                                    <button  data-bs-dismiss="modal" type="button" ng-click="nopBai()" class="btn btn-success">Nộp luôn</button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="card-body px-4" ng-repeat="q in dsCauHoi | limitTo: pSize:start">
                    <!-- Câu hỏi -->
                    <h5 class="card-title my-3">{{q.Text}}</h5>

                    <div class="form-check mb-2" ng-repeat="a in q.Answers">

                        <input ng-click="selectAnswer(start, a.Id)" class="form-check-input" type="radio"
                            name="answer_{{start}}" id="{{a.Id}}" value="{{a.Id}}" ng-model="radioStates[start]"
                            ng-checked="radioStates[start] == a.Id">

                        <label class="form-check-label" for="{{a.Id}}">
                            {{a.Text}}
                        </label>
                    </div>

                </div>

                <div class="card-footer text-body-secondary text-center">
                    <button ng-click="back()" class="btn btn-primary me-3 btnCtrl"> <i
                            class="bi bi-caret-left-fill"></i> Quay lại</button>
                    <button ng-click="next()" class="btn btn-primary btnCtrl"> Tiếp tục <i
                            class="bi bi-caret-right-fill"></i> </button>
                    <i class="bi bi-clock-fill float-end fw-bold mt-1" style="font-size: 18px;"> {{timeToStop |
                        formatTime}} </i>
                </div>
            </div>
        </section>

        <!-- Danh sách câu hỏi -->
        <section class="col-3 ">
            <span class="fw-bold " style="color: #1e54a4;">Danh Sách Câu Hỏi</span>
            <div style="max-height: 350px; overflow-y: auto; margin-top: 20px; overflow-x: hidden;">
                <ul class="list-group CauHoi" ng-repeat="q in dsCauHoi">
                    <li class="list-group-item my-1" aria-current="true" ng-click="thayDoiCauHoi($index)"
                        ng-class="{'daChon': radioStates[$index] != null, 'active': start == $index}">
                        {{ $index + 1 }}.&nbsp;{{q.Text}}
                    </li>
                </ul>
            </div>


        </section>
    </section>

    <div ng-show="daNopBai" class="card text-center" style="margin: 120px 0;">
        <div class="card-header">
            {{subject.Name}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Kết quả</h5>
          <h4 class="card-text text-danger">{{ketQua | number:2}}</h4>

          <p class="mt-3 text-success">Câu đúng: {{cauDung}}</p>
          <p class="text-danger">Câu sai: {{dsCauHoi.length - cauDung}}</p>
          <a href="#" class="btn btn-primary">Về trang chủ</a>
        </div>
        <div class="card-footer">
          Nộp bài lúc: {{currentTime | timeFormat}}
        </div>
      </div>

</main>