.header{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #ffffffef;
}

.card{
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.btn{
    border: none;
    border-radius: 16px;
}



@media screen and (max-width:  768px) {
    .img-panner{
        display: none !important;
    }
}

